*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto Regular";
    src: url('/assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url('/assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

:root{
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html,body{
    height: 100%;
    background-color: var(--grey);
}

main{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--dark-slate-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 850px;
    height: 530px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 25px;
    margin: 0 2%;
}

.container-left{
    width: 50%;
    height: 100%;
    padding: 80px 0 80px 60px;
}

.container-left h1{
    font-family: "Roboto Bold";
    font-size: 3rem;
}

.container-left p{
    font-family: "Roboto Regular";
    font-size: 1rem;
    margin: 20px 0;
}

.container-left .content-list{
    font-family: "Roboto Regular";
    font-size: 1rem;
    list-style-image: url('../assets/images/icon-list.svg');
}

.content-list ul{
    padding-left: 28px;
}

.content-list ul li{
    padding-left: 10px;
    line-height: 25px;
}

.form{
    font-family: "Roboto Bold";
    font-size: 0.875rem;
    padding: 20px 0 30px 0;
}

.form input[type=text]{
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border: 1px solid var(--grey);
    color: var(--grey);
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 0.875rem;
}

.form input[type=submit]{
    font-family: "Roboto Bold";
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: 0.875rem;
    color: var(--white);
    border: 0;
    background-color: var(--dark-slate-grey);
    cursor: pointer;
}

.form input[type=submit]:active{
    background-image: linear-gradient(to right, #FE5870 0%, 22.76119440793991%, #FE5E5E 45.52238881587982%, 72.76119440793991%, #ED7165 100%);
}

.form-text{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.form-text p{
    font-family: "Roboto Bold";
    font-size: 0.875rem;
}

p.format-p{
    display: none;
    color: #d27e7e;
}

.container-right{
    width: 50%;
    height: 100%;
    position: relative;
}

.container-right .img{
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-150%,-50%);
    width: 400px;
    padding-top: 493px;
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    background-size: 100% 100%;
    background-position: center;
}

.container2{
    width: 400px;
    height: 45%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 25px;
    margin: 0 4%;
    padding: 20px 50px;
}

.container2 img{
    width: 50px;
    height: 50px;
}

.container2 h1{
    font-family: "Roboto Bold";
    font-size: 3rem;
    line-height: 50px;
    margin-top: 15px;
}

.container2 p{
    font-family: "Roboto Regular";
    font-size: 0.875rem;
}

.container2 input[type=submit]{
    font-family: "Roboto Bold";
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: 0.875rem;
    color: var(--white);
    border: 0;
    background-color: var(--dark-slate-grey);
    cursor: pointer;
    margin-top: 20px;
}

.container2 input[type=submit]:active{
    background-image: linear-gradient(to right, #FE5870 0%, 22.76119440793991%, #FE5E5E 45.52238881587982%, 72.76119440793991%, #ED7165 100%);
}

